body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url('img/moonlight.gif'); /* Replace 'your-background.gif' with the path to your GIF file */
  background-size: cover;
  background-position: center;
}

#flashcard-container {
  text-align: center;
}

#flashcard {
  /*border: 1px solid #000000; */
  padding: 20px;
  margin-bottom: 20px;
}

#question {
  color: whitesmoke;
}
label[for="answer"] {
  color: whitesmoke; 
}

#answer {
  color: black;
  background-color: white; 
}


#next-button {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

/* Add styling for the background div */
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}